
<div class="row">
    <div  class="col-md-6 container-fluid">
        <form  action="{% url 'upload' %}" enctype="multipart/form-data" method="POST" id="upload_form"><!--action="{% url 'upload' %}"-->
        {% csrf_token %}
            {% for el in form %}
                <div style="margin: 20px">
                {{ el.label }}
                {{ el }}
                </div>

            {% endfor %}
       <button type="submit" class="btn btn-primary" id="true_upload" style="margin: 20px">загрузить</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        /*var $data = {};
        $('#upload_form').find ('input').each(function() {
             $data[this.name] = $(this).val();
        });

        $(document).ready(function(){
        $("#true_upload").bind("click", function () {
            $.ajax(
                {
                    url: "upload/",
                    type: "POST",
                    data: $data,
                    dataType: "html",
                    success: function(data){
                        //$('#uploads').html(data)
                        alert('ваш пост загружен');
                    }
                    error: function(){
                        alert("it's doesn't work'")
                    }
                }
            )
        })
    })
    */
    </script>
</div>


